/* Estilos para los mensajes de estado (Cargando... / Error) */
.loading,
.error {
  font-size: 1.1rem;
  font-style: italic;
  color: #aaa;
  text-align: center;
  padding: 20px;
}

.error {
  color: #ff6b6b; /* Un color rojo para el error */
}

/* Contenedor del grid para las tarjetas */
.grid-container-counter {
  justify-content: center;
  display: flex;
  /* Grid responsive: 
      Crea tantas columnas como quepan, con un mínimo de 280px.
    */
  /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
  gap: 20px;
  /* --- Estilos de tarjeta añadidos --- */
  background-color: #1e1e1e; /* El fondo */
  border: 1px solid #333; /* Un borde leve */
  border-radius: 8px; /* Las esquinas redondeadas */
  padding: 20px; /* Espacio interior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* La sombra */
  width: 40vh;
  margin: 0 auto;
}

/* Estilo de la tarjeta individual */
.data-item {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
}

.data-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.data-item h3 {
  color: #bb86fc; /* Color de acento */
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.25rem;
}

.data-item p {
  font-size: 0.95rem;
  color: #b0b0b0;
  margin-bottom: 8px;
  line-height: 1.4;
}

button {
  border-radius: 10px;
  margin: 0 auto;
  height: 3rem;
  width: auto;
}
.grid-container {
  justify-content: center;
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */

  background-color: #1e1e1e; /* El fondo */
  border: 1px solid #333; /* Un borde leve */
  border-radius: 8px; /* Las esquinas redondeadas */
  padding: 20px; /* Espacio interior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* La sombra */
  width: 40vh;
  margin: 0;
}
.grid-container-image {
  justify-content: center;
  display: flex;
  flex-direction: column;

  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 40vh;
  margin: 0;
}
.data-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 20px auto;
  width: fit-content;
}
.character-img {
  border-radius: 1px solid black;
  width: 40vh;
  height: auto;
}
